@model Hehimtap.Models.HekimBeyanatDto
@{
    ViewBag.Title = "Doctor";
    Layout = "~/Views/Shared/_IsdifadeciLayout.cshtml";
}
<div class="hero_home version_2">
    <div class="content">
        <h3>Find a Doctor!</h3>
        <p>
            Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.
        </p>
        <form method="post" action="http://www.ansonika.com/findoctor/menu_2/list.html">
            <div id="custom-search-input">
                <div class="input-group">
                    <input type="text" class=" search-query" placeholder="Ex. Name, Specialization ....">
                    <input type="submit" class="btn_search" value="Search">
                </div>
                <ul>
                    <li>
                        <input type="radio" id="all" name="radio_search" value="all" checked>
                        <label for="all">All</label>
                    </li>
                    <li>
                        <input type="radio" id="doctor" name="radio_search" value="doctor">
                        <label for="doctor">Doctor</label>
                    </li>
                    <li>
                        <input type="radio" id="clinic" name="radio_search" value="clinic">
                        <label for="clinic">Clinic</label>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>
<br />
<div class="container" style="padding-top:50px;padding-bottom:60px;">
    <div class="row">
        @foreach (var x in Model.Beyanats)
        {
            <div class="card" style="width:400px;">
                <img src="~/Images/@x.Sekil" style="height:280px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@x.Ixdisas</h5>
                    <p class="card-text">@x.Doctor.Ad</p>
                    
                </div>
            </div>

        }


    </div>
</div>
<br />

