@model List<Hehimtap.Models.About>
@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create About</h2>

<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        
        <!-- /.card-header -->
        <!-- form start -->
        <form method="post" action="@Url.Action("Create","About")" enctype="multipart/form-data" role="form">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Melumat</label>
                    <input type="text" name="Melumat" class="form-control" id="exampleInputEmail1" placeholder="Ad Elave Edin">
                </div>
              

                <div class="form-group">
                    <label for="exampleInputEmail1">Sekil</label>
                    <input type="file" name="Sekil" class="form-control" id="exampleInputEmail1">
                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Yarat</button>
            </div>
        </form>
    </div>
    <!-- /.card -->
    <!-- Form Element sizes -->



</div>